@inject SignInManager<AppUser> signInManager
@{
    ViewData["Title"] = "DefaultLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Latest compiled and minified CSS -->
    
    <style>
        body {
            margin: 0;
        }

        #header {
            background-color: grey;
            height: 200px;
            width: 100%;
        }

        #Navigation-bar {
            position: relative;
            top: 120px;
            margin: 0;
            padding:0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin-left: 40px;
        }

        #Navigation-bar a {
            font-size: 30px;
        }

        #Reg-Login {
            margin-left: 70%;
        }
        #Reg-Login a{
            display:inline-block;
        }
    </style>
</head>
<body>
    <div id="header">


        <ul id="Navigation-bar">
            <li><a href="/Home/Index">Home</a></li>
            @*<li><a>Apoteka (a)</a></li>*@
            <li><a href="/Usluga/UslugaHome" class="nav-link text-dark">Usluge</a></li>
            <li><a href="/Lijek/PrikaziLijekove" class="nav-link text-dark">Online apoteka</a></li>
            <li><a href="/Nabavka/OpcijeNarucivanja" class="nav-link text-dark">Nabavka</a></li>
            <li><a href="/Narudzbe/Prikazi narudzbe" class="nav-link text-dark">Narudzbe</a></li>

            <li><a>O nama</a> </li>

        </ul>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a href="/administracija/RolePrikaz" class="nav-link text-dark" style="display:inline-block;float:left"> Manage roles </a>
        }
        <div id="Reg-Login">
            @if (signInManager.IsSignedIn(User))
            {
                <a href="/Account/Logout" class="nav-link text-dark">Logout @User.Identity.Name</a>


            }
            else
            {
                <a href="/Account/Login" class="nav-link text-dark">Login</a>
                <a href="/Account/Registracija" class="nav-link text-dark">Registracija</a>
            }
        </div>
    </div>

    <div id="Container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>