
@{
    Layout = null;

}
@using WebApp_Apoteka.ViewModels;
@model AddLijekViewM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajLijek</title>
    <style>
        .forma {
            max-width: 50%;
            background: #FAFAFA;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #2b731e;
        }

        .forma input{
                margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium;
            }
        #k{
            margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium;
        }
    </style>
</head>
<body>
    <form asp-action="PohraniLijek" method="post" class="forma">
       @if (Model.LijekID == 0)
       {
            <input asp-for="LijekID" hidden />
            <input asp-for="NazivLijeka" placeholder="Naziv lijeka" />
            

            <input asp-for="InternacionalniGenerickiNaziv" placeholder="Internacionalni genericki naziv" />


            <input asp-for="KvalitativniIKvantitativniSastav"  placeholder="Kvalitatvni i kvantitativni sastav" />


            <input asp-for="FarmaceutskiOblik" placeholder="Farmaceutski oblik" />
            <select asp-for="KategorijeID" asp-items="Model.ListaKategorija" style="margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium">
                   <option>Odaberite kategoriju</option>
            </select>
            <input asp-for="NacinPrimjene" placeholder="Doziranje i nacin primjene" />
            <input asp-for="NabavnaCijena" placeholder="Nabavna cijena" />
            <input asp-for="ProdajnaCijena" placeholder="Prodajna cijena"/>
            <input asp-for="RokTrajanjaMjeseci" placeholder="Rok trajanja (izrazen u mjesecima)" />

            <input asp-for="NazivProizvodjaca" placeholder="Naziv proizvodjaca" />

        

            <a style="color:#2b731e; font-family: Calibri; font-size: medium">
                Datum dodavanja u promet
            </a>
          <input type="date" asp-for="DatumProizvodnje"  />

            <input type="submit" value="Dodaj lijek" style="background-color:#2b731e; color: #FAFAFA " />
       }
       else
       {
            <input asp-for="LijekID" hidden />
            <input asp-for="NazivLijeka" value=@Model.NazivLijeka />
            

            <input asp-for="InternacionalniGenerickiNaziv" value=@Model.InternacionalniGenerickiNaziv />


            <input asp-for="KvalitativniIKvantitativniSastav"  value=@Model.KvalitativniIKvantitativniSastav />


            <input asp-for="FarmaceutskiOblik" value=@Model.FarmaceutskiOblik />
            <select asp-for="KategorijeID" asp-items="Model.ListaKategorija">
                   <option>Odaberite kategoriju</option>
            </select>
            <input asp-for="NacinPrimjene" value=@Model.NacinPrimjene />
            <input asp-for="NabavnaCijena" value=@Model.NabavnaCijena />
            <input asp-for="ProdajnaCijena" value=@Model.ProdajnaCijena/>
            <input asp-for="RokTrajanjaMjeseci" value=@Model.RokTrajanjaMjeseci />

            <input asp-for="NazivProizvodjaca" value=@Model.NazivProizvodjaca />

        

            <a style="color:#2b731e; font-family: Calibri; font-size: medium">
                Datum izmjene
            </a>
            <input type="date" asp-for="DatumProizvodnje" value="@Model.DatumProizvodnje" />

            <input type="submit" value="Spremi izmjene" style="background-color:#2b731e; color: #FAFAFA " />
       }
    </form>
</body>
</html>
