
@{
    Layout = "DefaultLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pocetna</title>
    <style>
        .forma a{
            text-decoration: none;
            background-color: #2b731e;
            color: white;
            font-family: Calibri;
            border-radius: 10px;
            border: 6px solid #2b731e;
            text-align: center;
            padding: 10px 40px;
        }

        .forma {
            max-width: 50%;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #2b731e;
        }

        h1 {
            max-width: 50%;
            font-family: Calibri;
            margin: 30px auto;
            color: #2b731e
        }
    </style>
</head>
<body>
    <h1>Podaci o lijekovima</h1>
    <div class= "forma">

        <a href="/Lijek/DodajLijek">Dodaj lijek</a>
        <br /> <br /> <br />
        <a href="/Lijek/PrikaziLijekove">Prikazi/modificiraj lijekove</a>
    </div>
    <h1>Podaci o apotekarima</h1>
    <div class= "forma">

        <a href="/Apotekar/DodajForma">Dodaj apotekara</a>
        <br /> <br /> <br />
        <a href="/Apotekar/PrikazForma">Prikazi/modificiraj apotekare</a>
    </div>

</body>
</html>



    